[Unit]
Description=AutoSSH service for University proxy
Wants=network-online.target
After=network.target

[Service]
Environment="AUTOSSH_GATETIME=0"
ExecStart=%h/bin/autossh_proxy

[Install]
WantedBy=default.target
