[Unit]
Description=Synergy Client Daemon (LCQB)
After=network-online.target graphical.target

[Service]
ExecStart=/usr/bin/synergyc --no-daemon --debug ERROR chloe-desktop_lcqb
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
