# vim: set ft=sh:
#
# ls with color
alias grep="grep --color=always"
alias egrep="egrep --color=always"

if [ "$TERM" != "dumb" ]; then
    export LS_OPTIONS="--color=always --time-style=long-iso -G"
    export LS_DIRFIRST='--group-directories-first'
fi

# Aliases
function llth (){
    if [[ -f $1 ]] || [[ -d $1 ]]; then
        ls -lhtG --color=always --time-style=long-iso $1 | head $2
    else
        ls -lhtG --color=always --time-style=long-iso | head $1
    fi
}

alias get-bw-session="keyctl pipe "$(keyctl request user bw_session)""

export LESS_TERMCAP_md="${yellow}";
alias ls="ls --color=always" 
alias ll="ls -lh $LS_OPTIONS $LS_DIRFIRST"
alias lla="ls -lha $LS_OPTIONS $LS_DIRFIRST"
alias llt="ls -lht $LS_OPTIONS"
alias lld="ls -lhd $LS_OPTIONS"
alias llad="ls -lhad $LS_OPTIONS"
alias llda="ls -lhad $LS_OPTIONS"
alias llta="ls -lht $LS_OPTIONS"
alias llat="ls -laht $LS_OPTIONS"

alias rm="rm -i"
alias rebash="source ~/.bashrc"
alias irssi@freenode="irssi -c chat.freenode.net -p 6667 -n Nelyah"
alias irc="weechat-curses"
alias bc="bc -l"
alias ecg="emacsclient --create-frame"
alias ec="emacsclient -nw"

alias speedtest="wget -O /dev/null http://speed.transip.nl/100mb.bin"
alias tree="tree -A"
alias treed="tree -d"
alias tree1="tree -d -L 1"
alias tree2="tree -d -L 2"

alias cpwd="pwd|tr -d "\n"|xclip" # copy pwd in clipboard
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias sc="systemctl"
alias scls="systemctl list-unit-files"
alias scu="systemctl --user"
alias sculs="systemctl --user list-unit-files"

alias awk1="awk '{print $1}'"
alias awk2="awk '{print $2}'"
alias awk3="awk '{print $3}'"
alias awk4="awk '{print $4}'"

alias vim="nvim"

if type fdfind &> /dev/null; then
    alias fd="fdfind"
fi

# Clear zombie processes
clear-zombie() {
    ps -eal | awk '{ if ($2 == "Z") {print $4}}' | kill -9
}

# determine local IP address
getip() {
    if (( ${+commands[ip]} )); then
        ip addr | grep "inet " | grep -v '127.0.0.1' | awk '{print $2}'
    else
        ifconfig  | grep 'inet addr:'| grep -v '127.0.0.1' | cut -d: -f2 | awk '{ print $1}'
    fi
}

if type fasd > /dev/null 2>&1; then
    eval "$(fasd --init auto)"

    alias a='fasd -a'        # any
    alias s='fasd -si'       # show / search / select
    alias d='fasd_cd -d'     # directory
    alias f='fasd -f'        # file
    alias sd='fasd -sid'     # interactive directory selection
    alias sf='fasd -sif'     # interactive file selection
fi
