#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
xterm*faceSize: 12

xterm*loginshell: truex
xterm*font: Monaco
xterm*boldFont: Monaco
xterm*faceName: Monaco
xterm*vt100*geometry: 80x50
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false
xterm*foreground: rgb:74/89/c0
xterm*background: rgb:2A/2A/2A
xterm*color0: rgb:5a/5b/5c
xterm*color1: rgb:cc/00/00
xterm*color2: rgb:4e/9a/06
xterm*color3: rgb:c4/a0/00
xterm*color4: rgb:34/65/a4
xterm*color5: rgb:d0/60/e1
xterm*color6: rgb:06/98/9a
xterm*color7: rgb:d3/d7/cf
xterm*color8: rgb:47/47/47
xterm*color9: rgb:ef/29/29
xterm*color10: rgb:8a/e2/34
xterm*color11: rgb:fc/e9/4f
xterm*color12: rgb:89/53/e0
xterm*color13: rgb:e0/6e/d3
xterm*color14: rgb:34/e2/e2
xterm*color15: rgb:ee/ee/ec
xterm*boldMode: false
xterm*colorBDMode: true
xterm*colorBD: rgb:fc/fc/fc

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
